* {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.warpper {
    width: 100%;
    height: 100vh;
    background-image: url("image/a3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 30%;
    height: 550px;
    background-color: rgba(37, 3, 15, 0.63);
    margin: 50px 35%;
    border-radius: 20px 20px 30px 30px;
}

.head {
    width: 100%;
    background-color: #471d09;
    height: 40px;
    border-radius: 20px 20px 0 0;
}

.head p {
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

.form {
    width: 100%;
    height: 500px;
}

.name {
    font-size: 16px;
    color: #fff;
    margin: 15px 0 0 5%;
}

.name-inp {
    width: 90%;
    height: 30px;
    margin: 5px 0 0 5%;
    font-size: 16px;
    padding: 2px;
    color: rgb(114, 111, 111);
    border: 1px solid rgb(17, 107, 52);
    background-color: rgb(3, 4, 27);
}

.name-inp:hover {
    background-color: rgb(110, 16, 129);
    color: rgb(228, 171, 171);
    border: 1px solid rgb(139, 139, 139);
}

.sub {
    width: 90%;
    margin: 15px 0 0 5%;
    font-size: 16px;
    height: 40px;
    background-color: #06311f;
    border: 1px solid rgb(17, 67, 107);
    color: #fff;
}

.sub:hover {
    background-color: #E94601;
    color: #fff;
}